test
Makefile

autom4te.cache
config.h
config.log
config.status

libtool
stamp-h1
config.h.in

*.o
*.a
*.so
*.exe
*.log
*.old
*.swp
*.la
*.lai
*.lo
*.gmo
*.Po
.#*
*~
a.out

po/Makefile.in
po/POTFILES
po/remove-potcdate.sed
po/gchat.pot
po/stamp-po

plugins/perl/Makefile
plugins/perl/.libs/perl.lai
plugins/perl/.libs/perl.la
plugins/perl/.deps/perl.Plo

plugins/python/.deps/python.Plo

plugins/tcl/.deps/tclplugin.Plo

src/common/dbus/.deps/dbus-client.Po
src/common/dbus/.deps/dbus-plugin.Po
src/common/dbus/.deps/example.Po
src/common/dbus/marshallers.h
src/common/dbus/org.xchat.service.service
src/common/dbus/remote-object-glue.h

src/pixmaps/inline_pngs.h

src/fe-gtk/xchat
src/fe-gtk/gchat
src/fe-text/xchat-text
src/fe-text/gchat-text
